@tailwind base;
@tailwind components;
@tailwind utilities;

.solves-list::-webkit-scrollbar {
  width: 10px;
}

.solves-list::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 10px;
}

.solves-list::-webkit-scrollbar-track {
  background-color: none;
}

@media (max-width: 1024px) {
  .solves-list::-webkit-scrollbar {
    width: 5px;
  }
  .solves-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}
